@using EntityLayer.Concrete
@model Reservation
@{
    ViewData["Title"] = "NewReservation";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h1>NewReservation Page</h1>
<form method="post">
    <div class="form-group">
        <label for="Destination">Destination</label>
        <select asp-for="Destination" class="form-control">
            <option value="">-- Select Destination --</option>
            @foreach (var item in (List<SelectListItem>)ViewBag.v)
            {
                <option value="@item.Text">@item.Text</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label for="PersonCount">Passenger Count</label>
        <input type="text" asp-for="PersonCount" class="form-control" />
    </div>
    <div class="form-group">
        <label for="ReservationDate">Reservation Date</label>
        <input type="date" asp-for="ReservationDate" class="form-control" />
    </div>
    <div class="form-group">
        <label for="ReservationDate">Description</label>
        <textarea asp-for="Description" class="form-control" ></textarea>
    </div>

    <button type="submit" class="btn btn-primary">Send</button>
</form>
<script>
    window.onload=(function () {
        alert('Rezervasyonunuz başlangıçta onay bekliyor şeklinde alınacaktır.Rezervasyon onaylanma süreci için "Güncel Rezervasyonlarım" menusunu takip etmeyi unutmayın.');
    });</script>