@using EntityLayer.Concrete
@model Reservation
@{
    ViewData["Title"] = "NewReservation";
    Layout = "~/Views/Shared/_MemberLayout.cshtml";
}


<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Add new Reservation</h4>
                <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                <div class="heading-elements">
                    <ul class="list-inline mb-0">
                        <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                        <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                        <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="card-content collapse show">
                <div class="card-body">
                    <h1>NewReservation Page</h1>
                    <form method="post">
                        <div class="form-group">
                            <label for="Destination">Destination</label>
                            <select asp-for="DestinationId" class="form-control">
                                <option value="">-- Select Destination --</option>
                                @foreach (var item in (List<SelectListItem>)ViewBag.v)
                                {
                                    <option value="@item.Value">@item.Text</option>
                                }
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="PersonCount">Passenger Count</label>
                            <input type="text" asp-for="PersonCount" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label for="ReservationDate">Reservation Date</label>
                            <input type="date" asp-for="ReservationDate" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label for="ReservationDate">Description</label>
                            <textarea asp-for="Description" class="form-control"></textarea>
                        </div>

                        <button type="submit" class="btn btn-primary">Send</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>








