
<ul class="menu-inner py-1">
    <!-- Dashboard -->
    <li class="menu-item">
        <a asp-action="Index" asp-controller="Dashboard" asp-area="admin" class="menu-link">
            <img style="height:20px; padding-right:7px" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAAXNSR0IArs4c6QAAAP5JREFUSEvt1tERwiAQBNBNJ5ainWglaiXaiXZiOtFZJ2ROBMJeHPmBz0zCC+Ruw4BGY2jkYg28AbAFcPW8vBe+ANhP4BnAScU9sEWDJ+MqbNFxUrnlHBKuwDF6AED8BkDGa+EUejcrlvEauISGb8wVS/gSXIO68BKsoDKegz2ohKfgNWg1HsNxOEi9GaUX0+xorn3MZWFGIGE7fglz3h2AdxtamIHPlvg7TJD9GHpSjsHCVnOlTLkQs9nf4tOTvwX4q4hz7dRh9T/P+2079a3uVT3X0MMcZzyFFT9TXVyp3Pa+QDLvSwcBZneIUC/Kw/4ck3aSpaOPF1x8rhn8Ah0IWR8WfvL9AAAAAElFTkSuQmCC" />
            <div data-i18n="Analytics">Dashboard</div>
        </a>
    </li>
    <li class="menu-item">
        <a asp-action="Index" asp-controller="Destination" asp-area="admin" class="menu-link">
            <img style="height:20px; padding-right:7px" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAAXNSR0IArs4c6QAAAXNJREFUSEvFltFRAzEMRJVKApUQKgEqCakkUAl0Ap3AvBkrIy6SZflI4p/LXGSvdm8layM3Wpsb4coM8J2I7ESE53dLnOdnhUQF+FVEnhqghwH4u4gQl64RYJgdG8v0wKbCo1HD3ZMBA/q12KnMeL0PMiHmpSd/BvxhmHpS/nQkID5k3gNG3mdjnvv2GxV4/zAg/1tjfpZfBLyUmMxxLYAkNLpCySNgnKnf79CcSgkhfXXp/j/7ImAMBWsWEpO5fVcBRykUKwNrcj0j9RIhafXHKS5irCDq5K0xWoWtxp7hRMC2jGaA7J4S4/8EdktqxNVrGZdcPVs6XpK0TlgPuZpSQm4tqTWsXVV7LbPapbzkXJkJ7AF7N1OVeXh+djutYR2yzRgrO9u3RxmHt1LYUYKTK+Bubx51tYd/9ZnLJqETJkMftc4qDXlVqZcK2Okk/Z6efJmrIzPZK9K9BDIXzgDrzGXPxlAXG+gzEqX/ZxiXAKLgX7XASR8RRVfNAAAAAElFTkSuQmCC" />
            <div data-i18n="Analytics">Destinations</div>
        </a>
    </li>
    <li class="menu-item">
        <a asp-action="Index" asp-controller="DestinationCQRS" asp-area="admin" class="menu-link">
            <img style="height:20px; padding-right:7px" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAAXNSR0IArs4c6QAAAXNJREFUSEvFltFRAzEMRJVKApUQKgEqCakkUAl0Ap3AvBkrIy6SZflI4p/LXGSvdm8layM3Wpsb4coM8J2I7ESE53dLnOdnhUQF+FVEnhqghwH4u4gQl64RYJgdG8v0wKbCo1HD3ZMBA/q12KnMeL0PMiHmpSd/BvxhmHpS/nQkID5k3gNG3mdjnvv2GxV4/zAg/1tjfpZfBLyUmMxxLYAkNLpCySNgnKnf79CcSgkhfXXp/j/7ImAMBWsWEpO5fVcBRykUKwNrcj0j9RIhafXHKS5irCDq5K0xWoWtxp7hRMC2jGaA7J4S4/8EdktqxNVrGZdcPVs6XpK0TlgPuZpSQm4tqTWsXVV7LbPapbzkXJkJ7AF7N1OVeXh+djutYR2yzRgrO9u3RxmHt1LYUYKTK+Bubx51tYd/9ZnLJqETJkMftc4qDXlVqZcK2Okk/Z6efJmrIzPZK9K9BDIXzgDrzGXPxlAXG+gzEqX/ZxiXAKLgX7XASR8RRVfNAAAAAElFTkSuQmCC" />
            <div data-i18n="Analytics">Destinations CQRS</div>
        </a>
    </li>
    <li class="menu-item">
        <a asp-action="Index" asp-controller="City" asp-area="admin" class="menu-link">
            <img style="height:20px; padding-right:7px" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAAXNSR0IArs4c6QAAAXNJREFUSEvFltFRAzEMRJVKApUQKgEqCakkUAl0Ap3AvBkrIy6SZflI4p/LXGSvdm8layM3Wpsb4coM8J2I7ESE53dLnOdnhUQF+FVEnhqghwH4u4gQl64RYJgdG8v0wKbCo1HD3ZMBA/q12KnMeL0PMiHmpSd/BvxhmHpS/nQkID5k3gNG3mdjnvv2GxV4/zAg/1tjfpZfBLyUmMxxLYAkNLpCySNgnKnf79CcSgkhfXXp/j/7ImAMBWsWEpO5fVcBRykUKwNrcj0j9RIhafXHKS5irCDq5K0xWoWtxp7hRMC2jGaA7J4S4/8EdktqxNVrGZdcPVs6XpK0TlgPuZpSQm4tqTWsXVV7LbPapbzkXJkJ7AF7N1OVeXh+djutYR2yzRgrO9u3RxmHt1LYUYKTK+Bubx51tYd/9ZnLJqETJkMftc4qDXlVqZcK2Okk/Z6efJmrIzPZK9K9BDIXzgDrzGXPxlAXG+gzEqX/ZxiXAKLgX7XASR8RRVfNAAAAAElFTkSuQmCC" />
            <div data-i18n="Analytics">Dynamic City Actions</div>
        </a>
    </li>
    <li class="menu-item">
        <a asp-action="Index" asp-controller="Comment" asp-area="admin" class="menu-link">
            <img style="height:20px; padding-right:7px" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAAXNSR0IArs4c6QAAARVJREFUSEvtlt0NAiEQhOc60U60ErUStRK1ktNKtBPNJO4F+VnIwYYHj5eTBPZblpHZAZ3G0ImLUvAKwL4iyReAq7u/BDwC2FRAZSvha5nkwDzlpQFUQmwB3DnJgWuYvB5W6giAvznOAE7WYEnarZoKbi0kxnvmTmwiJABvDWwmpByYl04h1N59cLoF7Jd0KfXcV0sTV/TJtC510iQswXwjkrZoCQ6uzXWnbmBaGN9qf9A/KQoZboKaACchxRb5fhwzCQEzMTYF4q0a9EdIJWCuoRAYfPf9EsxAbs/F+S1BDvqrUrCsS1nkZOZz/+g5F/LB/l3XcNWeS8As3UGatCqas1lr9gh+SHPWCihxLLtMNdf/A38AhxRaH/Yyhe0AAAAASUVORK5CYII=" />
            <div data-i18n="Analytics">Comments</div>
        </a>
    </li>
    <li class="menu-item">
        <a asp-action="Index" asp-controller="Excel" class="menu-link">
            <img style="height:20px; padding-right:7px" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAAXNSR0IArs4c6QAAAORJREFUSEvtltENwjAMRK+bwCawCUwCTAKbMAodBR3ClUkb3FRHg6pGykel1M++XtRrUGk1lbj4O/BOrEQLgLtb6cRXAAcx1MpdAJztwYM3AB4/glrZrU3uwezm9D6xDxpgk1SndB0B3PhSDhyZjh64l1IBdHKrwD3zuKa8UeXgD+MkUK/McsA5qWlC7t6VUn3jsT6TS72ay6RP7/tsUi/XXNVcvYJzCshdLZM6CgK8nxYaxkJ5bnDiqT/3EvBg9GEBxhk24P8oJYW/nWXkYfR5rVzEmT3eqqYL60ShLiww9UA18BP5PVIfBqvdiQAAAABJRU5ErkJggg==" />
            <div data-i18n="Analytics">Excel Report</div>
        </a>
    </li>
    <li class="menu-item">
        <a asp-action="Index" asp-controller="User" asp-area="admin" class="menu-link">
            <img style="height:20px; padding-right:7px" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAAXNSR0IArs4c6QAAAPBJREFUSEvtVtsNwjAMvE4CbAKb0MlgE9gEmARkVJAbHHSOg5JKROpPZPv8uF48oNEZGuHCA7wGsC9I9AxAvtlhgQ+FoC+wI4BRI7PA94JKtcsVwMYLvAVwmpx2Vtu+JJX1ZSruClgTTeYnrbTuqldsBWTvnpMpbTULUr1iluTLAdZEWSnxECLdpnJTRQqTy6NSWpHYuWfJ5VEprUghYFYswnbp7xQOmNCdZrVlyJKGtTNnzM4pYtc/sKVSYS50Ta5/xdKBn86YffpYu9m+lpJLRODCRnLayZYp2p59JGRplwRqno+lnll9aibwjtUM+AHyJ5AfJMP1bgAAAABJRU5ErkJggg==" />
            <div data-i18n="Analytics">Guests</div>
        </a>
    </li>
    <li class="menu-item">
        <a asp-action="Send" asp-controller="Mail" asp-area="admin" class="menu-link">
            <img style="height:20px; padding-right:7px" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAAXNSR0IArs4c6QAAATRJREFUSEvNl41twjAQRj82gU3oJMAkwCSFSdpR2AT0EGdd3MTYsd1wUhQJYT9/9+ustJCtFuIqB7yWtC844E0Sz29qTQp8knQsAMZ/BX6VxD5/bAyMwm9J2wqoX8oBvl5eCL+PgX8aQg0EfONPE4Nr3Zty0tm7PQbfG7l3bJuBag8mpri5pxHrZ7Z7MCVDUvW0g6RLDO4ZXxMT4uwVtwCjaJeoii5gi1+qDzQHh6R5qZ1K0llgFmFxG82FsrYYbNloA8PgJdBZYEoAOGZw6tEmUG4PKFYM0MN9redCZyk2UAwvgVaBvfJSaDWYDYjtnHm9WMtkJjOlBkOiRct8N2BCi27dq1PgyYtAT8XkBM0m2H8oJqYk1eC62/siMHDvlGJaISXCu9Z8Ox3dK+dLovYQnwV+AEAiTh+/Xy/1AAAAAElFTkSuQmCC" />
            <div data-i18n="Analytics">Send Mail</div>
        </a>
    </li>
    <li class="menu-item">
        <a asp-action="Index" asp-controller="Guide" asp-area="admin" class="menu-link">
            <img style="height:20px; padding-right:7px" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAAXNSR0IArs4c6QAAAORJREFUSEvtltENwjAMRK+bwCawCUwCTAKbMAodBR3ClUkb3FRHg6pGykel1M++XtRrUGk1lbj4O/BOrEQLgLtb6cRXAAcx1MpdAJztwYM3AB4/glrZrU3uwezm9D6xDxpgk1SndB0B3PhSDhyZjh64l1IBdHKrwD3zuKa8UeXgD+MkUK/McsA5qWlC7t6VUn3jsT6TS72ay6RP7/tsUi/XXNVcvYJzCshdLZM6CgK8nxYaxkJ5bnDiqT/3EvBg9GEBxhk24P8oJYW/nWXkYfR5rVzEmT3eqqYL60ShLiww9UA18BP5PVIfBqvdiQAAAABJRU5ErkJggg==" />
            <div data-i18n="Analytics">Guides</div>
        </a>
    </li>
    <li class="menu-item">
        <a asp-action="Index" asp-controller="GuideMediatR" asp-area="admin" class="menu-link">
            <img style="height:20px; padding-right:7px" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAAXNSR0IArs4c6QAAAORJREFUSEvtltENwjAMRK+bwCawCUwCTAKbMAodBR3ClUkb3FRHg6pGykel1M++XtRrUGk1lbj4O/BOrEQLgLtb6cRXAAcx1MpdAJztwYM3AB4/glrZrU3uwezm9D6xDxpgk1SndB0B3PhSDhyZjh64l1IBdHKrwD3zuKa8UeXgD+MkUK/McsA5qWlC7t6VUn3jsT6TS72ay6RP7/tsUi/XXNVcvYJzCshdLZM6CgK8nxYaxkJ5bnDiqT/3EvBg9GEBxhk24P8oJYW/nWXkYfR5rVzEmT3eqqYL60ShLiww9UA18BP5PVIfBqvdiQAAAABJRU5ErkJggg==" />
            <div data-i18n="Analytics">Guides CQRS Mediatr</div>
        </a>
    </li>
    <li class="menu-item">
        <a asp-action="Index" asp-controller="ContactUs" asp-area="admin" class="menu-link">
            <img style="height:20px; padding-right:7px" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAAXNSR0IArs4c6QAAAUxJREFUSEvtlttxwkAMRS+VhHSSVAJUkqSShEpIKekkmcNYHlmzD9lA/GP9AVod3SutzU4rxW4lrjbwvzlfs3ov6U3S8U6dfEs6S/qyejXw+wC+E3cs8yzph0818K8jkki3S+IpuHYy1RkwwI/hwLXbZLxIuoRc6uBmSrGdZU50nIHXRpUGswwsGt1bjHYVlJP7GfJfnfI02BJRcBiaqFkfrcUZmsQp25nZYGAURg2qCG99tJbfUGqRBttSTO7eAI1WAvGjAMh3PtLg3uJG68n31sbzTXDmoeHVeOujtQ8FW3Fm3rtiTcUo8LMq2c316kFK59IzbjUAeC48DfbP6qhgvIu9DVxynVYDZ62OL4GaCVav++TyBdja+IeAGbNoLWdiE5zhfXyNzJ+90uvN7m1WMVDUjkt5K3jGfk1TM+DFxVsHN/BDbC0VXc3qPyjMYh8OQpUwAAAAAElFTkSuQmCC" />
            <div data-i18n="Analytics">Mail List</div>
        </a>
    </li>
    <li class="menu-item">
        <a asp-action="Index" asp-controller="VisitorApi" asp-area="admin" class="menu-link">
            <img style="height:20px; padding-right:7px" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAAXNSR0IArs4c6QAAAbBJREFUSEvFloFNxDAMRf9tApMAkwCTAJPATQJMApuAXhVXvjROnVLUSCedrmmev/3t3EkHrdNBXO0BvpV0VT4fkr7Lp6tpKxjQqySgrUUAZ0kWyGLPFvBDga5VCehdtGkU/F6pfJP0WZTxjEywulA2jICfJT2Vg6njYwHwkw8oghIU700rC+alLwe9dinMQNlDZgh+COzVUjdUZZVaYBeZyCr+aaglC76uL15RIzB+IlNTujNgn+b6cNqJtjJT+ee1EeHhCww5DJ5fdDVuwW+c+1G4CCyjmIOJnuXr69jTIPHK7Rl1JVgz5pBiDrEat+pokBpuZvKBbwavDQaDk16bWr4j5gxnUp3p0zrt1m7emEPtNAr1AfCd2pqxLvzRU/wXKClnvNrttfBGBM5AzemMwnkGS7qvLpKmL1rgLDS6i326o/ZbDBDvwMjB9UTyAwKoXf60TrhqxdavGajfg/rUX57odvIunAf6wE3UE3nxrFZMqjGHtYDBM3VPQ6NLooaTUjPS2uRKw6N2quFmmvDPW5pYNvYGiA0B0s4AmO7RvVZmVu/F6prrXyCtQw9T/AtqW3Uf/Pc4KgAAAABJRU5ErkJggg==" />
            <div data-i18n="Analytics">Visitors api</div>
        </a>
    </li>
    <li class="menu-item">
        <a asp-action="Index" asp-controller="ApiMovie" asp-area="admin" class="menu-link">
            <img style="height:20px; padding-right:7px" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAAXNSR0IArs4c6QAAAbBJREFUSEvFloFNxDAMRf9tApMAkwCTAJPATQJMApuAXhVXvjROnVLUSCedrmmev/3t3EkHrdNBXO0BvpV0VT4fkr7Lp6tpKxjQqySgrUUAZ0kWyGLPFvBDga5VCehdtGkU/F6pfJP0WZTxjEywulA2jICfJT2Vg6njYwHwkw8oghIU700rC+alLwe9dinMQNlDZgh+COzVUjdUZZVaYBeZyCr+aaglC76uL15RIzB+IlNTujNgn+b6cNqJtjJT+ee1EeHhCww5DJ5fdDVuwW+c+1G4CCyjmIOJnuXr69jTIPHK7Rl1JVgz5pBiDrEat+pokBpuZvKBbwavDQaDk16bWr4j5gxnUp3p0zrt1m7emEPtNAr1AfCd2pqxLvzRU/wXKClnvNrttfBGBM5AzemMwnkGS7qvLpKmL1rgLDS6i326o/ZbDBDvwMjB9UTyAwKoXf60TrhqxdavGajfg/rUX57odvIunAf6wE3UE3nxrFZMqjGHtYDBM3VPQ6NLooaTUjPS2uRKw6N2quFmmvDPW5pYNvYGiA0B0s4AmO7RvVZmVu/F6prrXyCtQw9T/AtqW3Uf/Pc4KgAAAABJRU5ErkJggg==" />
            <div data-i18n="Analytics">Movies api</div>
        </a>
    </li>
    <li class="menu-item">
        <a asp-action="Index" asp-controller="Exchange" asp-area="admin" class="menu-link">
            <img style="height:20px; padding-right:7px" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAAXNSR0IArs4c6QAAAbBJREFUSEvFloFNxDAMRf9tApMAkwCTAJPATQJMApuAXhVXvjROnVLUSCedrmmev/3t3EkHrdNBXO0BvpV0VT4fkr7Lp6tpKxjQqySgrUUAZ0kWyGLPFvBDga5VCehdtGkU/F6pfJP0WZTxjEywulA2jICfJT2Vg6njYwHwkw8oghIU700rC+alLwe9dinMQNlDZgh+COzVUjdUZZVaYBeZyCr+aaglC76uL15RIzB+IlNTujNgn+b6cNqJtjJT+ee1EeHhCww5DJ5fdDVuwW+c+1G4CCyjmIOJnuXr69jTIPHK7Rl1JVgz5pBiDrEat+pokBpuZvKBbwavDQaDk16bWr4j5gxnUp3p0zrt1m7emEPtNAr1AfCd2pqxLvzRU/wXKClnvNrttfBGBM5AzemMwnkGS7qvLpKmL1rgLDS6i326o/ZbDBDvwMjB9UTyAwKoXf60TrhqxdavGajfg/rUX57odvIunAf6wE3UE3nxrFZMqjGHtYDBM3VPQ6NLooaTUjPS2uRKw6N2quFmmvDPW5pYNvYGiA0B0s4AmO7RvVZmVu/F6prrXyCtQw9T/AtqW3Uf/Pc4KgAAAABJRU5ErkJggg==" />
            <div data-i18n="Analytics">Exchange Azn api</div>
        </a>
    </li>
    <li class="menu-item">
        <a asp-action="Index" asp-controller="BookingHotelSearch" asp-area="admin" class="menu-link">
            <img style="height:20px; padding-right:7px" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAAXNSR0IArs4c6QAAAbBJREFUSEvFloFNxDAMRf9tApMAkwCTAJPATQJMApuAXhVXvjROnVLUSCedrmmev/3t3EkHrdNBXO0BvpV0VT4fkr7Lp6tpKxjQqySgrUUAZ0kWyGLPFvBDga5VCehdtGkU/F6pfJP0WZTxjEywulA2jICfJT2Vg6njYwHwkw8oghIU700rC+alLwe9dinMQNlDZgh+COzVUjdUZZVaYBeZyCr+aaglC76uL15RIzB+IlNTujNgn+b6cNqJtjJT+ee1EeHhCww5DJ5fdDVuwW+c+1G4CCyjmIOJnuXr69jTIPHK7Rl1JVgz5pBiDrEat+pokBpuZvKBbwavDQaDk16bWr4j5gxnUp3p0zrt1m7emEPtNAr1AfCd2pqxLvzRU/wXKClnvNrttfBGBM5AzemMwnkGS7qvLpKmL1rgLDS6i326o/ZbDBDvwMjB9UTyAwKoXf60TrhqxdavGajfg/rUX57odvIunAf6wE3UE3nxrFZMqjGHtYDBM3VPQ6NLooaTUjPS2uRKw6N2quFmmvDPW5pYNvYGiA0B0s4AmO7RvVZmVu/F6prrXyCtQw9T/AtqW3Uf/Pc4KgAAAABJRU5ErkJggg==" />
            <div data-i18n="Analytics">Booking Hotel Search api</div>
        </a>
    </li>
    <li class="menu-item">
        <a asp-action="Index" asp-controller="Account" asp-area="admin" class="menu-link">
            <img style="height:20px; padding-right:7px" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAAXNSR0IArs4c6QAAAbBJREFUSEvFloFNxDAMRf9tApMAkwCTAJPATQJMApuAXhVXvjROnVLUSCedrmmev/3t3EkHrdNBXO0BvpV0VT4fkr7Lp6tpKxjQqySgrUUAZ0kWyGLPFvBDga5VCehdtGkU/F6pfJP0WZTxjEywulA2jICfJT2Vg6njYwHwkw8oghIU700rC+alLwe9dinMQNlDZgh+COzVUjdUZZVaYBeZyCr+aaglC76uL15RIzB+IlNTujNgn+b6cNqJtjJT+ee1EeHhCww5DJ5fdDVuwW+c+1G4CCyjmIOJnuXr69jTIPHK7Rl1JVgz5pBiDrEat+pokBpuZvKBbwavDQaDk16bWr4j5gxnUp3p0zrt1m7emEPtNAr1AfCd2pqxLvzRU/wXKClnvNrttfBGBM5AzemMwnkGS7qvLpKmL1rgLDS6i326o/ZbDBDvwMjB9UTyAwKoXf60TrhqxdavGajfg/rUX57odvIunAf6wE3UE3nxrFZMqjGHtYDBM3VPQ6NLooaTUjPS2uRKw6N2quFmmvDPW5pYNvYGiA0B0s4AmO7RvVZmVu/F6prrXyCtQw9T/AtqW3Uf/Pc4KgAAAABJRU5ErkJggg==" />
            <div data-i18n="Analytics">Booking Hotel Search api</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="index.html" class="menu-link">
            <img style="height:20px; padding-right:7px" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAAXNSR0IArs4c6QAAAOFJREFUSEvtltENwkAMQ91NGAUmASYpTAKbwCiMgl4lUKgup6gNtBKX7zROHDvXTgtFtxCuGvDPmK9RfZB0cTo5SzrN6bIGfJO0dYrfJe3WAAw7m0IjV0mPUoMZE0N570wP8PFbwJNWkjFxA7YrddVvqUaVVpl4uKRUClMQLxPRPHJR+KByC1xT5xzL2m/fh2cVwGOq8aZ3uaDr5c9onkv1mM6oTaJ5H/Wbjy0dUQqjeelU42Nep1K473bGjnFDCRjl8zoVIwN40nGpAXPJ9s7ZxMPuNJFO2u9thKWUnP+j+gmG8UgfrTM3PgAAAABJRU5ErkJggg==" />
            <div data-i18n="Analytics">References</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="index.html" class="menu-link">
            <img style="height:20px; padding-right:7px" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAAXNSR0IArs4c6QAAAa1JREFUSEvFVttNxEAMnOsEKgEqAdpASEAlx1Vy8EUZUAlCE60jr2/9SHLo9icf8Xo83vFjhwud3YVwsQb4CsAtAH5/WuD8fiwhUQUmyAOAl8C5gL+pgFzzDLgCaJ1LAI9RBiJggh5bSpdkUWwZwJ3H3gMm6PcaNHOH4GR+8v4eMJlSQOc4BL+2jkbA+yYkaxupNgvyvTGffVpgOiDb0cn0EKn+JOXWmceWgWQVQJvoPjNGsU3HOqOgKKyI8SuAG2PwBOCr6cLLWPfWGjhKsw6SwKNGQl9ZNZDxpBUNzDdiqrwjtpbxL4DnxjjzwdKi0FYBRyWWlSHbKQPvgL0UenrQATDFTD8ZR2cTYzq/B/Ap0bdvNEAkmCHwUnHp2iRj6iNrJOxg0yjV4soUqcUl7HSJZPc7PFvHkThGwHQ2CyZJedc2LXAUtQdcTflcw14bzIYEg7PdjeCyBo3+p0OCwWxdAGw5lceigJ9jEaCvLsXVprB19RluH94b246UbZejTqWVHo66pNNN7561RL7loQ0BEVo6cTJg+S9qlg4lS/2/LfTVwMp2lXWm7GyJ4R9La2Af6pIv0wAAAABJRU5ErkJggg==" />            <div data-i18n="Analytics">Reservations</div>
        </a>
    </li>

    <li class="menu-item">
        <a href="index.html" class="menu-link">
            <img style="height:20px; padding-right:7px" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAAXNSR0IArs4c6QAAAbBJREFUSEvFloFNxDAMRf9tApMAkwCTAJPATQJMApuAXhVXvjROnVLUSCedrmmev/3t3EkHrdNBXO0BvpV0VT4fkr7Lp6tpKxjQqySgrUUAZ0kWyGLPFvBDga5VCehdtGkU/F6pfJP0WZTxjEywulA2jICfJT2Vg6njYwHwkw8oghIU700rC+alLwe9dinMQNlDZgh+COzVUjdUZZVaYBeZyCr+aaglC76uL15RIzB+IlNTujNgn+b6cNqJtjJT+ee1EeHhCww5DJ5fdDVuwW+c+1G4CCyjmIOJnuXr69jTIPHK7Rl1JVgz5pBiDrEat+pokBpuZvKBbwavDQaDk16bWr4j5gxnUp3p0zrt1m7emEPtNAr1AfCd2pqxLvzRU/wXKClnvNrttfBGBM5AzemMwnkGS7qvLpKmL1rgLDS6i326o/ZbDBDvwMjB9UTyAwKoXf60TrhqxdavGajfg/rUX57odvIunAf6wE3UE3nxrFZMqjGHtYDBM3VPQ6NLooaTUjPS2uRKw6N2quFmmvDPW5pYNvYGiA0B0s4AmO7RvVZmVu/F6prrXyCtQw9T/AtqW3Uf/Pc4KgAAAABJRU5ErkJggg==" />
            <div data-i18n="Analytics">Features 2</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="index.html" class="menu-link">
            <img style="height:20px; padding-right:7px" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAAXNSR0IArs4c6QAAARBJREFUSEvtltsNwjAMRW83YRTYBCYBJkFMAqOwSdFBGEUhbe1UNEKqpf5USY4f1046NbKuEVd/B95I4vPaPV9YE/FF0t5LfK97SLpKOtm+KBgg4FrbSXpFHwXfJG0lEcEhQGcfdraoa8F4jfde61fwVKppGQRlarQa/zTViAhQCuEfhrj4vOaucdo20ehKzrjA+YAATBt47WtKSRoFU0+glk4vKF9X0s0kmJpGZnDJuTCYQ0zFx+TE6JQKpzr1nvYx+GLiMgeIntQTsY3H9DosRTakC5eq082AiNwuhEUGSMn7Fezt9XCN84PTVEem2eyHQLOnz5yx+nn2kMap+3iohk2et15Bja6rjXg2vBn4CSXdWB/fOUTdAAAAAElFTkSuQmCC" />
            <div data-i18n="Analytics">Log out</div>
        </a>
    </li>
    @*<li class="menu-header small text-uppercase"><span class="menu-header-text">Misc</span></li>*@
</ul>