@using DTOLayer.DTOs.Password;

@{
    ViewData["Title"] = "ForgetPassword";
    Layout = null;
}

<h1>ForgetPassword</h1>
@model ForgetPasswordDTO


<form method="post">
    <input asp-for="Mail"/>
    <button type="submit">Send</button>
</form>
