@using DTOLayer.DTOs.Password;
@model ResetPasswordDTO
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ResetPassword</title>

    <form method="post">
        <input asp-for="Password" />
        <input asp-for="ConfirmPassword" />
        <button type="submit">Send</button>
    </form>
</head>
<body>
</body>
</html>
