
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Excel report page</h1>

<a asp-controller="Excel" asp-action="DestinationExcelReport" class="btn btn-outline-primary">Get destination reports</a>
