
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    @await Component.InvokeAsync("_DashboardBanner")
    @await Component.InvokeAsync("_Card1Statistics")
    <!-- Total Revenue -->
    @await Component.InvokeAsync("_TotalRevanue")
    @await Component.InvokeAsync("_Card2Statistics")
    <!--/ Total Revenue -->
</div>
<div class="row">
    <!-- Order Statistics -->
    @await Component.InvokeAsync("_TourStatistics")
    <!--/ Order Statistics -->
    <!-- Expense Overview -->
    @await Component.InvokeAsync("_TourStatistics2")
    <!--/ Expense Overview -->
    <!-- Transactions -->
    @await Component.InvokeAsync("_GuideListDashboard")
    <!--/ Transactions -->
</div>

<!-- endbuild -->
<!-- Vendors JS -->
<script src="~/sneat-1.0.0/assets/vendor/libs/apex-charts/apexcharts.js"></script>

<!-- Page JS -->
<script src="~/sneat-1.0.0/assets/js/dashboards-analytics.js"></script>

<!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="https://buttons.github.io/buttons.js"></script>
