
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Customer Pdf Report Page</h1>


<a asp-action="CustomerPdfReport" asp-controller="PdfReport">Download</a>
