@using EntityLayer.Concrete;
@model List<Destination>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: center;
    }

    th {
        background-color: #f2f2f2;
    }

    tr:hover {
        background-color: #f5f5f5;
    }

    a {
        color: blue;
        text-decoration: none;
    }

        a:hover {
            text-decoration: underline;
        }

    h1 {
        text-align: center;
        margin-top: 20px;
    }

    <h1 > Index</h1 >
</style>
<table>
    <tr>
        <th>City</th>
        <th>Price</th>
        <th>Capacity</th>
        <th>Go to Site</th>
        <th>Delete</th>
        <th>Edit</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.City</td>
            <td>@item.Price</td>
            <td>@item.Capacity</td>
            <td><a href="#">go to site </a></td>
            <td><a href="#">delete </a></td>
            <td><a href="#">edit </a></td>
        </tr>
    }
</table>
<br />


    <a asp-action="addDestination" asp-area="admin" asp-controller="Destination" class="btn btn-primary"> add new destination</a>